$max-width: 20rem
$base-font-size: 1rem

%center-object
	margin-left: auto
	margin-right: auto

.flex-box
	display: flex
	justify-content: left

.form-project
	@extend %center-object
	max-width: $max-width

	>label
		@extend %center-object
		display: block
		margin-bottom: 1rem
		font-size: $base-font-size + 0.5rem

		>input, textarea
			width: 100%
			font-size: $base-font-size

		>textarea
			height: 10rem

	fieldset
		margin-bottom: 1rem

	button
		@extend %center-object
		display: block
		margin-bottom: 1rem

ul
	@extend %center-object, .flex-box
	max-width: 50rem
	list-style-type: none
	border: 2px solid #eee
  margin: 0
  padding: 0

.project-item
  width: calc(100%/3)
  margin: 1rem





















