$max-width: 20rem
$base-font-size: 1rem

%center-object
	margin-left: auto
	margin-right: auto

.flex-box
	display: flex
	flex-wrap: wrap
	justify-content: space-between

h1
	text-align: center

.form-project
	@extend %center-object
	max-width: $max-width

	button
		@extend %center-object
		display: block
		background: #eee
		border: 0.1rem solid #444
		border-radius: 0.5rem
		padding: 0.5rem
		margin-bottom: 1rem
		font-size: 1.25rem
		cursor: pointer

	button:hover
		opacity: 0.5
	
.main-fieldset
	margin-bottom: 1rem

	label
		@extend %center-object
		display: block
		width: 100%
		margin-bottom: 1rem
		font-size: $base-font-size + 0.5rem

		input, textarea
			display: block
			margin-top: 0.25rem
			padding: 0.5rem
			width: 94%
			font-size: $base-font-size

		textarea
			height: 10rem

.activity-fieldset
	margin-bottom: 1rem
	padding: 1rem

	label, input[type="radio"]
		cursor: pointer!important

ul
	@extend %center-object, .flex-box
	justify-content: left
	max-width: 50rem
	list-style-type: none
  margin: 0
  padding: 0!important

.project-item
  background: #ddd
  color: #000
  margin: 1rem
  padding: 1rem
  width: calc(100%/3 - 4.4rem)

h2
	margin: 0
	text-align: center

.status 
	float: left
	margin-top: -1.5rem
	margin-left: -1.5rem
	height: 1.5rem
	width: 1.5rem
	border-radius: 100%
	border: 0.1rem solid #eee

.status-1
	background: #9db0a2

.status-2
	background: #d21f37

.status-3
	background: #70da3b




















